<ul class="navbar-links" id="navbarLinks">
    <app-profile></app-profile>
    <li><a class="nav-link" routerLink="/admin-homePage" routerLinkActive="active"><img src="/assets/home.png" alt="Home">Home</a></li>
    <li><a class="nav-link" routerLink="/admin-pricing" routerLinkActive="active"><img src="/assets/task-actions.png" alt="Pricing">Pricing</a></li>
    <li><a class="nav-link" routerLink="/admin-userList" routerLinkActive="active"><img src="/assets/group.png" alt="User">User List</a></li>
    <li><a class="nav-link" routerLink="/payment" routerLinkActive="active"><img src="/assets/piggy-bank.png" alt="Payment List">Payment List</a></li>
</ul>