<app-seller-nav></app-seller-nav>
<div class="main-container">
    <h2 class="heading">  Welcome, {{currentUser}}</h2>
</div> 
<h3 class="side-heading">Start Your Sales With  Zen Scan </h3>
<section class="seller-home">
    <!-- Left Side: Text Content -->
    <div class="content">
        <h3>Future of business is complex, You need an easy and simple omnichannel ERP </h3>
        <p>Zen Scan helps you streamline your sales process with seamless barcode scanning and product management. 
           Boost your efficiency and grow your business effortlessly.</p>
           <ul class="checklist">
            <li>Efficient Scanning</li>
            <li>Simplified processes</li>
            <li>Stock Monitoring</li>
            <li>A small learning curve</li>
            <li>User Friendly</li>
        </ul>
        
    </div>

    <!-- Right Side: Image -->
    <div class="image-container">
        <img src="/assets/supermarket.jpg" alt="Supermarket">
    </div>
</section>
       
