<ul class="navbar-links" id="navbarLinks">
    <app-profile></app-profile>
    <li><a class="nav-link" routerLink="/dash-board"><img src="/assets/home.png" alt="Home">Home</a></li>
    <li><a class="nav-link" routerLink="/seller-category" routerLinkActive="active"><img src="/assets/menu.png" alt="Category">Category</a></li>
    <li><a class="nav-link" routerLinkActive="active" (click)="nullCategory()"  routerLink="/seller-product"><img src="/assets/order.png"alt="Product">Product</a></li>
    <li><a class="nav-link" routerLink="/billing" routerLinkActive="active"><img src="/assets/billing.png" alt="Billing">Billing</a></li>
    <li><a class="nav-link" routerLink="/invoice" routerLinkActive="active"><img src="/assets/invoices.png" alt="Invoices">Invoice</a></li>
</ul>