<div *ngIf="username">
  <div class="profile-circle">
    {{ getInitial() }}
  </div>
  <div class="username-container">
    <h2>{{ username }}</h2>
    <img src="assets/logout.png" alt="logout" (click)="openLogoutConfirmation()" />
  </div>
</div>
<div *ngIf="!username">
  <p>No user</p>
</div>

<!-- Logout Confirmation Modal -->
<div *ngIf="showLogoutConfirmation" class="modal-overlay">
  <div class="modal-content">
    <p>Are you sure you want to logout?</p>
    <div class="modal-buttons">
      <button (click)="confirmLogout()">Yes</button>
      <button (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>