<app-seller-nav></app-seller-nav>
<div class="main-container">
  <h2>Invoices</h2>

  <!-- List of Bill Headers -->
  <div class="invoice-container">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Phone Number</th>
          <th>Total Price</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of billHeaders">
          <td>{{bill.data.date | date: 'dd-MM-YYYY'}}</td>
          <td>{{ bill.data.customerName }}</td>
          <td>{{ bill.data.customerNo }}</td>
          <td>{{bill.data.totalAmount | currency:'INR' }}</td>
          <td><button (click)="viewInvoiceDetails(bill)">View Purchased Products</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Purchased Products Card -->
  <div *ngIf="selectedInvoices.length > 0" class="purchased-products-card">
    <div class="header">
      <h3>Purchased Products</h3>
      <button class="close-btn" (click)="closePurchasedProducts()">×</button>
    </div>

    <!-- List of Purchased Products -->
    <ul class="product-list">
      <li *ngFor="let invoice of selectedInvoices" class="product-item">
        <span class="product-name"><strong>{{ invoice.product?.data.productName }}</strong></span>
        <span class="product-price">{{ invoice.product.data.productPrice | currency:'INR' }}</span>
        <span class="product-quantity">Qty: {{ invoice.data.quantity }}</span>
      </li>
    </ul>
  </div>
</div>
